@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.btn-active {
  background: #fd6e0a;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  border: none;
}
.btn-outline {
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  border-radius: 5px;
  background: #fff;
}
.input-style {
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: #757575;
  border: none;
}
textarea:focus {
  outline: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.input-style:focus {
  outline: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
section {
  margin: 100px 0px;
}
header {
  display: flex;
  /* flex-direction: row; */
  /* margin: 25px 50px; */
  background-color: #fff8f3;

  padding: 20px 10px;
}
.logo h3 {
  font-size: 2.2rem;
}

.logo span {
  color: #fd6e0a;
}
.navbar {
  margin: 0px 20px;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  /* margin-left: 100px; */
}

nav ul li {
  list-style: none;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #474747;
}
.nav-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-bottom-left {
  margin-left: 50px;
  /* margin-top: 150px; */
}

.nav-bottom-left h3 {
  font-size: 45px;
  color: #474747;
  font-weight: 300;
}

.nav-bottom-left h1 {
  font-weight: 700;
  font-size: 5.3rem;
  color: #181818;
  margin-top: 20px;
}
.nav-bottom-left p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #757575;
  margin: 20px 0px;
}
.button button {
  margin-right: 18px;
  padding: 15px;
}
.nav-bottom-right {
  width: 100%;
}

.nav-bottom-right img {
  margin-bottom: -30px;
}
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  padding: 120px 157px;
}
.about-box {
  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #6666;
}

.about-top h3 {
  font-size: 1.9rem;
  color: #181818;
  margin-bottom: 21px;
  font-weight: 700;
}

.about-top p {
  color: #757575;
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.9rem;
}

.about-bottom {
  display: flex;
  justify-content: space-around;
}

.about-bottom p {
  color: #757575;
  font-size: 1.25rem;
  margin-bottom: 7px;
  font-weight: 400;
}

.about-bottom h4 {
  color: #474747;
  font-weight: 700;
  font-size: 1.25rem;
}
.do-top {
  text-align: center;
  margin-bottom: 50px;
}

.do-top h3 {
  color: #181818;
  font-size: 2.18rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.do-top p {
  font-weight: 400;
  color: #757575;
  padding: 6px 83px;
  line-height: 1.87rem;
}
.do-bottom {
  margin-top: 64px;
}
.card-group {
  display: grid;
  column-gap: 22px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px 20px;
}

.card {
  background: #fff;
  box-shadow: 0px 1px 16px -8px #bdbaba;
  padding: 20px;
  border-radius: 5px;
}

.card h4 {
  margin: 25px 0px;
  font-weight: 700;
  color: #181818;
  font-size: 1.25rem;
}
.card p {
  color: #757575;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 10px;
}
section.summery h2 {
  text-align: center;
  color: #181818;
  font-weight: 700;
  font-size: 2.18rem;
  margin-bottom: 100px;
}

.summery-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.summery-info h3 {
  color: #474747;
  font-size: 1.87rem;
  margin-bottom: 33px;
}
.summery-card {
  margin: 31px 0px;
}
.summery-card h5 {
  font-size: 1.5rem;
  color: #474747;
  font-weight: 700;
  margin-bottom: 7px;
}

.summery-card h6 {
  color: #757575;
  font-size: 1.125rem;
}
.summery-card p {
  color: #757575;
  font-size: 1rem;
  margin: 21px 0px;
  line-height: 1.75rem;
  padding-right: 30px;
}
.summery-card hr {
  border: 1px solid #ddd;
  margin-top: 32px;
}
.download-cv {
  text-align: center;
  margin-top: 40px;
}
.download-cv button {
  font-size: 1.25rem;
  padding: 18px;
}
footer {
  padding: 100px 0px 40px;
  background: #fff8f3;
}
.footer-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
}
.footer-area h2 {
  color: #181818;
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.footer-left p {
  color: #474747;
  line-height: 1.8rem;
  font-weight: 400;
  padding-right: 15px;
}
.input-grp {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
input.input-btn {
  width: 80px;
  text-align: center;
  padding: 15px;
}
textarea {
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
}
p.copyright {
    margin-top: 70px;
    text-align: center;
    font-size: 0.8rem;
    color: #131313b3;
    letter-spacing: 2px;
}